.font-button
{
	-fx-body-color: linear-gradient(snow, lightgray);
  -fx-background-color: 
    -fx-outer-border, 
    -fx-inner-border, 
    -fx-body-color;
  	-fx-background-insets: 0, 1, 2;
  -fx-border-color: lightgray;
  -fx-border-width: 1; 
  -fx-border-radius: 3;
}

.font-button:focused
{
  -fx-border-color: lightskyblue;
  -fx-border-width: 1; 
  -fx-border-radius: 3;
}

.font-button:hover
{
  -fx-background-color: lightgray;
}

.font-combobox
{
  -fx-background-color: 
    -fx-shadow-highlight-color, 
    -fx-outer-border, 
    -fx-inner-border, 
    -fx-body-color;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
  -fx-border-color: lightgray;
  -fx-border-width: 1;
  -fx-border-radius: 3;
}

.font-combobox:focused
{
  -fx-border-color: lightskyblue;
  -fx-border-width: 1;
  -fx-border-radius: 3;
}

.font-combobox:hover
{
  -fx-background-color: lightgray;
}

.font-preview
{
  -fx-background-color: white;
}