---
---

@import "{{ site.theme }}";

.mainnav 
{
  overflow: hidden;
}

.mainnav a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.mainnav a:hover 
{
  color: #7fc7ff;
}

.userguidenav ul li 
{
  float: left;
  list-style-type: none;
}

.userguidenav li + li:before
{
  content: " | ";
  padding: 0 10px;
}

.userguidenav 
{
  display: flex;
  overflow: hidden;
}

.content 
{
  padding: 0px 10px;
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

button.collapsible 
{
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

button.collapsible:hover 
{
  background-color: #8e8e8e;
}

button.collapsible:before
{
  content: "⯈ ";
}

button.collapsible.active:before 
{
  content: "⯆ ";
}

button.category
{
  font-size: 17.5px;
}

.category:before
{
  content: "▶ " !important;
}

button.category.active:before
{
  content: "▼ " !important;
}