---
layout: default
---
<h1>User Guide</h1>

<p>This page contains the complete list of "tips" available through JetUML's "Tip of the Day" dialog. The tips can be organized into different views by clicking on a specific view. Click on an entry to expand with details.</p>

<div class="userguidenav">
  <li class="nav-title">View: </li>
  <ul>
  <li><a href="user-guide">By Topic</a></li>
  <li><a href="user-guide-levels">By Level</a></li>
  <li><a href="user-guide-diagrams">By Diagram</a></li>
  </ul>
</div> 

{{ content }}